WORDPRESS_API_URL=http://k2space.local/wp/graphql
NEXT_PUBLIC_ENV=
NEXT_PUBLIC_MEDIA_URL=http://k2space.local/app/uploads/
NEXT_PUBLIC_IMGIX_URL=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_BACKEND_URL=
NEXT_PUBLIC_FRONTEND_URL=
NEXT_PUBLIC_SENTRY_DSN=

# Only required if you want to enable preview mode
WORDPRESS_AUTH_REFRESH_TOKEN=
WORDPRESS_PREVIEW_SECRET=