@use 'styles/mixins';

.block {
  $block-name: '.block';
  display: flex;
  background-color: var(--black);
  color: var(--white);
  border-radius: 66px;
  overflow: hidden;
  flex-direction: column;

  @screen xl {
    flex-direction: row;
  }

  &__content {
    position: relative;
    width: 100%;
    padding: 36px;

    @screen xl {
      padding: 72px;
      width: 45%;
    }
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 100%;

    @screen md {
      padding-bottom: 66%;
    }

    @screen xl {
      width: 55%;
      padding-bottom: 0;
    }
    
    #{$block-name}__figure {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      animation-duration: var(--animation-duration);
      animation-timing-function: var(--animation-timing-function);
      animation-fill-mode: both;
      transform: translate3d(100%, 0, 0);

      &.active:not(.animated) {
        transform: translate3d(0, 0, 0);

        #{$block-name}__description {
          transform: translateY(0);
        }
      }

      &.active.animated {
        animation-name: slideInRight;

        #{$block-name}__description {
          transform: translateY(0);
        }
      }

      &.inactive.animated {
        animation-name: slideOutLeft;
      }

      @keyframes slideInRight {
        from { transform: translate3d(100%, 0, 0); }
        to { transform: translate3d(0, 0, 0); }
      }
      
      @keyframes slideOutLeft {
        from { transform: translate3d(0, 0, 0); }
        to { transform: translate3d(-100%, 0, 0); }
      }
    }

    #{$block-name}__image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #{$block-name}__description {
      @include mixins.transition(transform);

      transition-delay: 1s;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 24px;
      background-color: var(--yellow);
      color: var(--black);
      transform: translateY(100%);

      @screen xl {
        padding: 36px;
      }
    }
  }
}

.menu {
  $block-name: '.menu';
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  
  @screen md {
    margin-top: 48px;
  }
  
  @screen 3xl {
    margin-top: 60px;
  }

  &__item {
    @include mixins.transition(transform);

    position: relative;
    padding-left: 18px;

    @screen md {
      padding-left: 36px;
    }

    @screen 3xl {
      padding-left: 60px;
    }

    &:not(:last-child) {
      margin-bottom: 18px;

      @screen md {
        margin-bottom: 24px;
      }

      @screen 3xl {
        margin-bottom: 36px;
      }
    }
    
    &:hover,
    &.active {
      #{$block-name}__btn {
        color: var(--yellow);
      }
    }
    
    &.active {
      transform: translateX(18px);
      pointer-events: none;
      
      @screen md {
        transform: translateX(36px);
      }

      @screen 3xl {
        transform: translateX(48px);
      }
    }
  }

  &__btn {
    @include mixins.transition(color);
    font-size: 16px;

    @screen md {
      font-size: 18px;
    }

    @screen 3xl {
      font-size: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      right: 100%;
      top: 50%;
      width: 100%;
      height: 1px;
      background-color: currentColor;

      @screen 3xl {
        right: calc(100% - 24px);
      }
    }
  }
}