
.wrapper {
  position: relative;
  overflow: hidden;
  --position: 50%;

  .image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;

    &--before {
      position: absolute;
      inset: 0;
      width: var(--position);
      z-index: 1;
    }
  }

  .slider {
    position: absolute;
    inset: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;

    &:focus-visible {
      ~ .slider-button {
        outline: 3px solid var(--black);
        outline-offset: 3px;
      }
    }
  }
  
  .slider-line {
    position: absolute;
    inset: 0;
    width: 5px;
    height: 100%;
    background-color: var(--yellow);
    left: var(--position);
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 2;

    @screen md {
      width: 8px;
    }
  }
  
  .slider-button {
    position: absolute;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    width: 72px;
    height: 40px;
    background-color: var(--black);
    color: var(--white);
    top: 50%;
    left: var(--position);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 3;
    
    @screen md {
      width: 96px;
      height: 56px;
      gap: 24px;
    }
    
    .icon {
      width: 16px;
      height: 16px;
      
      @screen md {
        width: 24px;
        height: 24px;
      }

      &--left {
        transform: rotate(-180deg);
      }
    }
  }

  &--portrait {
    .image-container {
      padding-bottom: 142%;
    }
  }
}