:root {
  --transparent: transparent;
  --white: #ffffff;
  --black: #121212;
  --blackSecondary: #191919;
  --red: #ED3326;
  --redSecondary: #DE2012;
  --lightGrey: #F5F5F5;
  --lightGreySecondary: #EDEDED;
  --yellow: #F3D06D;

  --transitionDuration: 0.6s;
  --transitionTiming: cubic-bezier(0.76, 0, 0.24, 1);

  --navbarHeightMobile: 72px;
  --navbarHeightTablet: 96px;
  --navbarHeight: 124px;
}